.contato-full {
    padding: 60px 0;
}
.formulario-container {
    margin: 0 15%;
}
.conteudo form {margin: 0 -41px!important;}
.contato-pessoal {
    border-left: 5px solid #ffa500;
    background: #4c4c4c;
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 60px 20%;
}
.contato-pessoal:before {
    content: "";
    left: 0;
    top: 7%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    height: 160px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ffa500;
    border-width: 7px;
}
.contato-pessoal p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 2px 2px 7px #000;
}
.contato-pessoal strong {
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
}
.iframe iframe {
    width: 100%;
    height: 350px;
}
.contato-full a {
    color: #fff;
}

.contato-full a:hover {
    color: darkred;
}