.faixa-orange {
    background: linear-gradient(to right,rgb(67 67 67 / 81%) 0%,rgb(69 69 69) 100%);
    padding: 15px;
}
.faixa-orange h2 {
	margin: 0;
	color: #Fff;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #000;
	font-size: 20px;
}
.breadcrumb {
	padding: 0px 12px;
	color: #d0e6eb;;
	margin-bottom: 0!important;
	margin-top: 7px;
}
.breadcrumb a {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}
.prin h3{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0 !important
}
.prin p{
	font-size: 16px;
	text-align: left
}
.conteudo-palavras h2{
	color: #ffa500;
	margin: 0 0 10px
}
.conteudo-palavras h3{
	color: #ffa500;
	font-size: 20px	
}
.conteudo-palavras{
	margin-top: 15px
}