.mapa-full {
	padding: 30px 0;
	text-align: center;
}

.mapa-full ul li {
	display: flex;
}

.mapa-full ul li a {
	color: #ffa500;
	font-weight: 600;
	font-size: 18px;
}
ul.mapa-do-site a {
	color: #000!important;
	font-weight: 400!important;
	font-size: 13px!important;
}
.adjust-li li {
	display: flex!important;
	font-weight: 600;
}
.mapa-full h3 {
	font-size: 18px;
	font-weight: 600;
	color: #ffa500;
	text-align: left;
}
.adjust-li a {
    font-size: 20px;
    font-weight: 600;
    color: #ffa500!important;
}