/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(template/fonts/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Light'), local('Roboto-Light'), url(template/fonts/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(template/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(template/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(template/fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Default
** ----------------------------------------------- */
body {
	color: #333;
	background: #FFF;
	font-family: 'Roboto', sans-serif!important;
	font-size: 13px;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}
.base {
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
}
.base-content {
	padding-left: 15px;
	padding-right: 15px;
}
img {
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
a {
	color: inherit;
}
.align-center {
	text-align: center;
}
.overflow {
	overflow: hidden;
}

/* Topo
** ----------------------------------------------- */
.topo {
	background-color: rgb(69 69 69);
	border-bottom: 2px solid #B78A17;
}
.topo .topo-box {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.topo .logo,
.topo .menu {
	display: table-cell;
	vertical-align: middle;
}
.topo .logo {
	width: 190px;
	padding: 15px 0 15px 0;
}
.topo .menu {
	text-align: right;
}
.topo .menu-box {
	text-align: left;
	display: inline-block;
}

/* Menu
** ----------------------------------------------- */
.topo .menu li {
	display: inline-block;
}
.topo .menu li:hover > a, .topo .menu .ativo {
	font-weight: 500;
	color: #ffa500;
}
.topo .menu li a {
	display: block;
	padding: 0 15px;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.topo .menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.topo .menu ul ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 10;
	width: 300px;
	background-color: rgb(69 69 69);
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.topo .menu ul ul li {
	width: 100%;
}
.topo .menu ul ul li a {
	display: block;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Open Sans;
	font-size: 16px;
	color: #ffa500;

}
.topo .menu ul ul li a:hover {
	color: #ffa500;
	text-decoration: underline;
	font-weight: bold;
	font-family: Open Sans;
	font-size: 16px;
}
.topo .menu li {
	position: relative;
}
.topo .menu ul li:hover > ul {
	display: flex;
}

/* Menu Fixo Lateral
** ----------------------------------------------- */
.menu-lateral {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.menu-lateral-conteudo {
	position: fixed;
	left: -315px;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: #FFF;
	border-right: 1px solid #CCC;
	box-shadow: 2px 0 3px rgba(0,0,0,0.1);
	width: 300px;
	z-index: 2;
	transition: all 0.3s ease 0s;
}
.menu-lateral-visivel .menu-lateral-conteudo {
	left: 0;
}
.menu-lateral-conteudo ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-lateral-conteudo li {
	border-top: 1px solid #EEE;
}
.menu-lateral-conteudo ul ul {
	margin-left: 15px;
}
.menu-lateral-conteudo a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
}
.menu-lateral-conteudo a:hover {
	color: #FFF;
	background-color: #72B5DA;
}
.menu-lateral-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
}

/* Banner
** ----------------------------------------------- */
.banner-box {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0;
	font-size: 18px;
	color: #FFF;
	text-shadow: 1px 1px #000;
}
.banner-box-1 {
	background-image: url('../imagens/banner/1.jpg');
}
.banner-box-2 {
	background-image: url('../imagens/banner/2.jpg');
}
.banner-box-3 {
	background-image: url('../imagens/banner/3.jpg');
}

/* Conteudo
** ----------------------------------------------- */
.conteudo {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 15px 0;
}
.texto {
	display: table-cell;
	vertical-align: top;
	font-size: 14px;
}
h1 {
	margin-top: 0;
	background-color: #F7F9FB;
	color: #1DA1F2;
	padding: 15px;
	font-size: 20px;
	border-radius: 2px;
}
.img-destaque {
	margin-top: 15px;
}
.img-destaque img,
.img-destaque-thumb img {
	display: block;
	width: 100%;
	border-radius: 2px;
}
.img-destaque-thumb {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}
.img-destaque-thumb div {
	width: 25%;
}
.img-destaque-thumb a {
	display: block;
	margin: 5px;
}
.informacoes-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.informacoes-box {
	width: 25%;
}
.informacoes-link:hover {
	color: #72B5DA;
}
.informacoes-link {
	margin: 15px;
	display: block;
	text-decoration: none;
}
.informacoes-link img {
	border: 1px solid #CCC;
	width: 100%;
	display: block;
}
.informacoes-box h4{
	color: #333;
	font-size: 13px
}
.compartilhar {
	margin-top: 15px;
}
.erro404 {
	font-size: 2em;
	text-align: center;
}
/* Breadcrumb
** ----------------------------------------------- */
.breadcrumb .breadcrumb-separador:before {
	content: '\f101';
	font-family: 'FontAwesome';
	margin: 0 5px;
}

/* Sidebar
** ----------------------------------------------- */
.sidebar {
	display: table-cell;
	width: 300px;
	padding-left: 20px;
	vertical-align: top;
}
.sidebar h3 {
	padding: 10px!important;
	margin: 0;
	background-color: #ffa500;
	text-align: center;
	font-size: 20px;
	color: #fff!important;
	text-shadow: 2px 2px 7px #1d1d1d;
}
.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-box {
	border: 1px solid #CCC;
	border-radius: 2px;
}
.sidebar-box + .sidebar-box {
	margin-top: 15px;
}
.sidebar li a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	color: #000;
	font-size: 11px;
	text-align: left;
}
.sidebar li a:hover, .sidebar .ativo {
	color: #fff;
	background-color: #ffa500;
	transition: 0.4s all;
	font-weight: 500;
}
.sidebar-conteudo {
	padding: 15px;
}
.sidebar ul li {
	display: block;
	font-size: 12px!important;
	border-bottom: 0.5px solid #ccc;
	margin: 0!important;
}
.leftcol {
	overflow-y: scroll;
	height: 540px;
	overflow: auto;
}
/* SEO
** ----------------------------------------------- */
/* Mais Visitados */
.mais-visitados {
	margin-top: 15px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.mais-visitados h3 {
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #CCC;
}
.mais-visitados-box {
	padding: 10px;
}
.mais-visitados span {
	display: inline-block;
	margin: 4px;
}
.mais-visitados a{
	font-size: 11px;
	color: #333
}
/* Direitos */
.texto-direitos-autorais {
	margin-top: 15px;
	font-size: 12px;
}

/* Formulário
** ----------------------------------------------- */
.formulario-box {
	margin-top: 15px;
}
textarea {
	resize: vertical;
	height: 100px;
}
.btn {
	position: relative;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	line-height: inherit;
	padding: 10px 15px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	background: linear-gradient(#FFF,#FCFCFC);
	border-color: #CFCFCF;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0px -3px rgba(0,0,0,0.1) inset, 0px 2px 3px rgba(0, 0, 0, 0.07);
	border: 0;
	max-width: 100%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
}
.btn:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 0 5px 1px rgba(0,0,0,0.15) inset;
}
[type="text"],
[type="email"],
[type="file"],
select,
textarea {
	color: inherit;
	font-family: inherit;
	line-height: inherit;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 2px;
	background-color: #FAFBFC;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
}
[type="text"]:focus,
[type="email"]:focus,
[type="file"]:focus,
select:focus,
textarea:focus {
	border-color: #5CD7FF;
	background-color: #FFF;
	box-shadow: 0px 0px 3px rgba(0, 165, 255, 0.31), 1px 1px 2px rgba(0,0,0,0.1) inset;
}
.campo-invalido {
	border-color: #f00;
	background: #fffafa;
}

/* Mensagens */
.msg-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 15px;
	text-align: center;
	z-index: 10;
}
.msg {
	display: inline-block;
	padding: 15px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	background-color: #FFF;
}
.msg-erro {
	color: #C7142E;
	background-color: #FFF5F6;
}
.msg-sucesso {
	color: #14C717;
	background-color: #F8FFF7;
}

/* Enviando */
.enviando {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(255,255,255,0.5);
}
.enviando:before {
	content: '';
	background: url('../imagens/loading.svg') no-repeat center center;
	background-size: contain;
	position: absolute;
	margin: 3px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* Página de contato
** ----------------------------------------------- */
.contato {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.contato-formulario,
.contato-dados {
	display: table-cell;
	vertical-align: top;
}

/* Mapa do Site
** ----------------------------------------------- */
.mapa-do-site li {
	margin: 10px;
}

/* Slider
** ----------------------------------------------- */
.slider img {
	border: 1px solid #CCC;
	width: 100%;
	display: block;
}
.slider .slider-box {
	display: block;
	margin: 15px;
	text-decoration: none;
}
.slider h4 {
	text-align: center;
}
.slider .slick-prev {
	left: -5px;
}
.slider .slick-next {
	right: -5px;
}
.slider .slick-prev,
.slider .slick-next {
	top: 40%;
}

/* Abas
** ----------------------------------------------- */
.abas .aba {
	cursor: pointer;
	display: inline-block;
	padding: 9px;
	background-color: #F7F9FB;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.abas .aba.ativo {
	background-color: #FFF;
	border-color: #CCC;
}
.abas-conteudo {
	border-radius: 2px;
	margin-top: 5px;
	padding: 5px;
}
.abas-conteudo > div {
	display: none;
}
.abas-conteudo > div:first-child {
	display: block;
}
.abas-conteudo li{
	list-style: none;
	color: #666;
	font-size: 12px
}
.regioes {
	margin-top: 15px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.regioes a{
	color: #333
}
.regioes a:hover{
	color: #960000
}
.regioes h3 {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	color: #960000;
	font-weight: 600
}


/* Accordion
** ----------------------------------------------- */
.accordion-titulo {
	cursor: pointer;
	background-color: #8b0000;
	border: 1px solid #8b0000;
	border-radius: 2px;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
}
.accordion-conteudo {
	display: none;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
	margin-top: 5px;
	padding: 15px;
}
.adjust-form .formulario-container {
	margin: 0!important;
}
/* Footer
** ----------------------------------------------- */
.footer {
	background-color: #292929;
}
.footer hr {
	margin: 0;
	padding-bottom: 10px;
}
.footer h2 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-size: 27px;
	text-shadow: 2px 2px 7px #1f1f1f;
}
.footer h2 span {
	color: #b78a17;
}
.footer h3 {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 2px 2px 7px #212121;
	border-bottom: 0.5px solid;
	padding: 5px 0;
	border-bottom-style: dashed;
}
.footer p {
	color: #fff;
	font-weight: 300;
	text-align: justify;
}
.footer ul li {
	display: block;
	color: #fff;
	padding-bottom: 5px;
}
.footer ul {
	padding: 0;
}
.footer ul li a {
	color: #fff;
	font-weight: 300;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	color: #b78a17;
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: none;
	color: #b78a17;
}
.footer-box {
	display: flex;
	flex-wrap: wrap;
}
.footer .footer-coluna {
	width: 33%;
}
.adjust-pagamento {
	text-align: center;
}
/* Menu */
.menu-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-footer li {
	margin-top: 10px;
}
.menu-footer a {
	text-decoration: none;
}
.menu-footer a:hover {
	text-decoration: underline;
}

/* Redes Sociais */
.redes-sociais {
	font-size: 18px;
}
.redes-sociais a {
	display: inline-block;
	text-decoration: none;
	width: 30px;
	height: 30px;
	margin: 3px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	background-color: #FFF;
	border: 1px solid;
}
.cor-facebook {
	color: #4267B2;
}
.cor-twitter {
	color: #1DA1F2;
}
.cor-google-plus {
	color: #DB4437;
}
.cor-youtube {
	color: #FF0000;
}
.cor-linkedin {
	color: #0274B3;
}
.cor-pinterest {
	color: #BD081B;
}
.cor-vk {
	color: #5181B8;
}
/* Créditos */
.creditos {
	padding: 15px 0;
}
.creditos-box {
	padding: 15px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.creditos .creditos-logo {
	width: 80px;
}
.creditos .creditos-link {
	display: inline-flex;
}
.creditos .creditos-link a {
	margin-left: 10px;
}
/*css home*/
.banner-full {
	background: linear-gradient(to right,rgba(0,1,4,0.9) 0%,rgba(0,0,0,0.0) 72%),url(template/imagens/banner-full.jpg) no-repeat center center;
	background-size: cover;
	padding: 217px 0;
	background-position: 100% 51%;
	text-align: center;
}
.banner-full p {
	color: #fff;
	font-size: 15px;
	text-shadow: 2px 2px 7px #2b2b2b;
	letter-spacing: 1px;
	font-weight: 100;
	letter-spacing: 4px;
}
.banner-full h2 {
	font-size: 60px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 2px 2px 7px #b78a17;
	margin: 0;
	font-weight: 100;
}
.faixa-home {
	background: #B78A17;
	text-align: right;
	padding: 10px;
}
.faixa-home p {
	margin: 0;
	padding-right: 13px;
	font-size: 15px;
	font-weight: 400;
	color: #000;
}
.faixa-home a {
	color: #000;
}
.faixa-home a:hover {
	text-decoration: none;
	color: #fff;
}
.banner-full a {
	border: 1px solid #b78a17;
	color: #fff;
	padding: 8px 15px;
}	
.banner-full a:hover {
	text-decoration: none;
	background: #b78a17;
	text-shadow: 2px 2px 7px #000;
	transition: 0.4s all;
	color: #fff;
}
.empresa {
	padding: 60px 0;
}
.empresa h2 {
	text-transform: uppercase;
	font-size: 25px;
	color: #b78a17;
	font-weight: 500;
	border-bottom: 0.5px solid rgb(183 138 23);
	margin-bottom: 20px;
}
.empresa iframe {
	width: 100%;
	height: 300px;
}
.empresa p {
	text-align: justify;
	font-weight: 300;
	font-size: 15px;
}
.empresa img {
	box-shadow: 15px 14px #cce128;
}
.empresa span {
	color: #ff0310;
	font-weight: 600;
}
.produtos h3 {
	margin: 0;
	font-size: 13px;
	text-align: center;
	padding: 10px;
	background: #b78a17;
	color: #fff;
}
.produtos {
	padding: 60px 0;
	background: #f1f1f1;
}
.produtos h2 {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 500;
	color: #b78a17;
	border-bottom: 0.5px solid #cce128;;
	margin-bottom: 30px;
}
.reformas {
	padding: 60px 0;
}
.reformas h2 {
	font-size: 25px;
	color: #b78a17;
	text-transform: uppercase;
	border-bottom: 0.5px solid rgb(183 138 23);
	margin-bottom: 20px;
}
.reformas p {
	text-align: justify;
	font-weight: 300;
	font-size: 15px;
}
.reformas img {
	box-shadow: 2px 2px 7px #000;
}
.produtos .orcamento {
	margin-top: 30px;
	text-align: center;
}
.produtos .orcamento a {
	border: 0.5px solid #b78a17;
	padding: 10px 15px;
	color: #000;
}
.produtos .orcamento a:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 7px #000;
	background: #b78a17;
	transition: 0.4s all;
}
.reformas .orcamento {
	margin-top: 30px;
	text-align: center;
}
.reformas .orcamento a {
	border: 0.5px solid #b78a17;
	padding: 10px 15px;
	color: #000;
}
.reformas .orcamento a:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 7px #000;
	background: #b78a17;
	transition: 0.4s all;
}
.newsletter {
	padding: 20px 0;
	background: #cc050f;
	text-shadow: 2px 2px 7px #000;
	box-shadow: 2px 2px 7px;
}
.newsletter h2 {
	font-size: 22px;
	margin-top: 0 !important;
	color: #fff;
	padding-top: 26px;
}
.formulario-box-1 {
	width: 100%;
	margin-top: 15px;
}
[type="text"], [type="email"], [type="file"], select, textarea {
	color: inherit;
	line-height: inherit;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 2px;
	background-color: #FAFBFC;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
}
.news {
	display: inline-flex;
}
.formulario-box-2 input {
	width: 270px;
	margin-top: 15px;
}
.formulario-box {
	margin-top: 15px;
	margin-bottom: 20px;
}
.news button {
	margin-left: 30px;
	background: #ace123;
	color: #fff;
	font-size: 15px;
	padding: 10px 40px;
	border: none;
	text-shadow: 2px 2px 7px #000;
}
.faixa-pg {
	background-color: rgba(1,1,1,0.7);
	padding: 10px 0;
}
.faixa-pg h2 {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 600;
}
.breadcrumb a {
	color: #fff;
}
.breadcrumb a:hover {
	color: #cce128;
	text-decoration: none;
}
span.breadcrumb-separador {
	color: #ffa500;
}
.conteudo-produtos {
	padding: 60px 0;
}
.conteudo-produtos img {
	box-shadow: 2px 2px 7px #cce128;
}
.conteudo-produtos h4 {
	margin: 0;
	background: darkred;
	color: #fff;
	padding: 10px;
	text-shadow: 2px 2px 7px #000;
	font-size: 16px;
}
.conteudo-produtos a:hover h4 {
	background: #cce128;
	transition: 0.4s all;
}
.conteudo-produtos a:hover {
	text-decoration: none;
}

.conteudo-produtos-pg {
	padding: 60px 0;
}
.conteudo-produtos-pg img {
	box-shadow: 2px 2px 7px #cce128;
}
.conteudo-produtos-pg h4 {
	margin: 0;
	background: darkred;
	color: #fff;
	padding: 10px;
	text-shadow: 2px 2px 7px #000;
	font-size: 16px;
	text-align: center;
}
.conteudo-produtos-pg a:hover h4 {
	background: #cce128;
	transition: 0.4s all;
}
.conteudo-produtos-pg a:hover {
	text-decoration: none;
}
.conteudo-pagina-produtos {
	padding: 60px 0;
}
.conteudo-pagina-produtos h2 {
	font-size: 18px;
	color: darkred;
	font-weight: 400;
}
.conteudo-pagina-produtos h2 span {
	font-weight: 600;
	color: #cce128;
}
.conteudo-pagina-produtos img {
	box-shadow: 2px 2px 7px #cce128;
	margin-top: 30px;
}
.conteudo-pagina-produtos h3 {
	font-size: 15px;
	text-transform: uppercase;
	color: #8b0000;
	font-weight: 600;
	border-bottom: 0.5px solid rgb(139 0 0 / 42%);
	padding: 5px 0;
}
.conteudo-pagina-produtos a:hover {
	text-decoration: none;
	color: #fff;
}
.conteudo-pagina-produtos p {
	font-size: 17px;
	text-align: justify;
}
.conteudo-pagina-produtos ul li {
	display: block;
	font-size: 17px;
	text-align: justify;
	margin-bottom: 10px;
}
.conteudo-pagina-produtos ul {
	padding: 0;
}
.conteudo-pagina-produtos ul li span {
	color: darkred;
	font-weight: 600;
	font-size: 20px;
}
.faixa-pg .whatsapp-fixed {
	position: fixed;
	right: -184px;
	top: 35%;
	z-index: 999;
	transition: 0.3s all ease;
}
.icon-buttom {
	display: flex;
}
.icon-buttom a {
	color: #fff;
	background: #8b0000;
	display: block;
	padding: 15px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.icon-buttom i {
	font-size: 30px;
	float: left;
	margin-right: 15px;
	color: #fff;
}
.icon-buttom span {
	margin-top: 3px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
}
.fa-whatsapp:before {
	content: "\f232";
}
.faixa-pg .whatsapp-fixed:hover {
	right: 0;
	transition: 0.6s all ease;
}
.conteudo-produtos-pg p {
	text-align: justify;
	font-size: 16px;
}
ul.adjust-li a {
	color: #fff;
	background: darkred;
	padding: 5px;
}
ul.adjust-li li {
	display: contents;
	margin-bottom: 10px;
}
ul.adjust-li a:hover {
	background: #000;
	color: #fff;
	transition: 0.4s all;
}
.adjust-a a {
	color: #000;
}

.adjust-a a:hover {
	color: #ff0c19;
}
.conteudo-empresa {
	padding: 20px 0;
}

.conteudo-empresa h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	color: darkred;
}
.conteudo-empresa h3{
	color: #ffa500
}
.conteudo-empresa p {
	text-align: justify;
	font-family: Open Sans;
	font-size: 13px
}
.conteudo-portas {
	padding: 20px 0;
}
.conteudo-portas img{
	border: 4px solid #ffffff;
	box-shadow: 2px 2px 7px #333
}