/*------------------------------------------
Estilo CSS
------------------------------------------*/

.tamanho23{font-size:23px;}
.tamanho19{font-size:19px;}
.tamanho18{font-size:18px;}
.tamanho17{font-size:17px;}
.tamanho16{font-size:16px;}
.tamanho14{font-size:14px;}
.tamanho13{font-size:13px;}
.tamanho12{font-size:12px;}
.tamanho11{font-size:11px;}

.negrito{font-weight:bold;}
.justificado{text-align:justify;}


.azul{color:#1059a5;}
.corlaranja{color:#aa592a;}
.corverde{color:green;}
.corpreta{color:#000000;}
.corbranca{color:#ffffff;}
.corcinza{color:#5B594C;}
.corazul{color:#1059a5;}
.corazul2{color:#5da3af;}
.corazul3{color:#21375C;}
.corvermelho{color:#990000;}
.corroxo{color:#662D91;}
.vermelho{color:#cc0000;}

.arial{font-family:arial;}
.trebuchet{font-family:trebuchet ms;}
.century{font-family:century gothic;}


.menu {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}


.legenda {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.menu_item {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.titulo_area {
	color: #336699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bold;
}


A.azul:link {
	COLOR: #1059a5; TEXT-DECORATION: none
}
A.azul:visited {
	COLOR: #1059a5; TEXT-DECORATION: none
}
A.azul:hover {
	COLOR: #1059a5; TEXT-DECORATION: underline;
}
A.azul:active {
	COLOR: #1059a5; TEXT-DECORATION: underline
}

A.corbranca:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.corbranca:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.corbranca:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.corbranca:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}


.botao {
font-family: Verdana; font-size: 9pt; color: #ffffff; font-weight: bold; border: 1px outset #f9f9f9; background-color: #336699;
}


.form {
background-color: #FFFFFF;
border-bottom: #000000 1px solid;
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-top: #000000 1px solid;
color: #000000;
font-family: Arial, Verdana;
font-size: 12px;
}

A.preto:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.preto:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.preto:hover {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.preto:active {
	COLOR: #000000; TEXT-DECORATION: none;
}
