body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}
p, a, li {
    letter-spacing: 0.4px
}
#breadcrumb {
    margin: 3px 0 30px 0;
    font-size: 10px;
}
/*FAIXA TOPO*/
.topo {
    width: 100%;
    float: right;
    height: 37px;
    font-size: 15px;
    margin-bottom: 0;
    background: #B78A17;
    text-align: right;
    padding: 10px
}
.topo a {
    text-decoration: none;
    padding: 0 4px;
    letter-spacing: 0;
    margin: 0;
    padding-right: 0;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
.topo p {
    font-size: 14px;
}
.topo .tel {
    text-align: right;
}
.topo .tel a i {
    background: #fff;
    padding: 4px;
    border-radius: 50px;
    color: #b78a17;
    font-size: 10px;
}
.topo .redes-topo {
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
/*FIM FAIXA TOPO*/

/*INICIO HEADER*/
header {
    background-color: rgb(69 69 69);
    border-bottom: 2px solid #B78A17;
}
header .logo {
    margin: 0;
    width: 80%;
    padding: 15px 0;

}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    margin: 28px 0;
    text-align: center
}
.menu-list, .menu-list-2 {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu, .menu .menu-list-2  {
    list-style:none
}
.menu a {
    color:#bd9f40;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu > .menu-list > li, .menu > .menu-list-2 > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;

}
.menu > .menu-list > li:hover > a, .menu > .menu-list-2 > li:hover > a {
    color: #ffa500;
    transition: all 0.5s
}
.menu > .menu-list > li:hover > .sub-menu, .menu > .menu-list-2 > li:hover > .sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    width: 300px;
    background-color: rgb(69 69 69);
    border-radius: 2px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    padding-top:0
}
.menu > .menu-list > li > .sub-menu, .menu > .menu-list-2 > li > .sub-menu {
    position: absolute;
    left: -2px;
    top: 0;
    min-width: 214px;
    z-index: 100;
    display: none;
    padding: 48px 0 0 0;
}   
.menu > .menu-list > li > .sub-menu > li > a {
    text-align: left;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 16px;
    color: #ffa500;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    color: #ffa500;
    text-decoration: underline;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 16px;
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#333
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

/* Rodapé */
footer {
    width: 100%;
    float: left;
    background:#292929;
}
footer h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 27px;
    text-shadow: 2px 2px 7px #1f1f1f;
}
footer h2 span {
    color: #b78a17;
}
footer h3 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    text-shadow: 2px 2px 7px #212121;
    border-bottom: 0.5px solid;
    padding: 5px 0;
    border-bottom-style: dashed;
}
footer p {
    color: #fff;
    font-weight: 300;
    text-align: justify;
}
footer ul {
    list-style-type:none;
    padding:0;
    margin: 0;
}
footer ul li {
    display: block;
    color: #fff;
    padding-bottom: 5px;
}
footer a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    transition: all 0.3s
}
footer a:hover {
    text-decoration: none;
    color: #b78a17;
}
footer a i {
    background: #fff;
    color: #292929;
    padding: 4px;
    border-radius: 100%;
    margin: 1px 5px 0 0;
}
footer a i.fab.fa-facebook-f {
    background: #fff;
    color: #292929;
    padding: 3px 6px;
    border-radius: 100%;
}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright {
        background-color: rgba(0,0,0,0.05);
    padding: 14px 11px;
}
footer .footer-copyright a {
    text-decoration:none;
    color: #fff;
    text-align:center;
}
footer .footer-copyright p {
    margin: 7px 0;
    font-size: 14px;
}
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: center;
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 3px auto;
    border-radius: 20px
}
footer .icons-selos {
    text-align: right;
}
footer .institucional {
    margin-top: 50px
}
footer .institucional a {
    line-height: 26px;
    font-size: 15px;
    transition: all 0.3s
}
footer .institucional a:hover {
    line-height: 26px;
    font-size: 15px;
    color:#bd9e41;
    text-decoration: none;
    transition: all 0.3s
}
footer .redes-topo a i {
    transition: all 0.3s
}
footer .redes-topo a:hover i {
    color: #bd9e41;
    transition: all 0.3s
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */

/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #c1c1c1b0;
    font-size: 28px;
    z-index: 100000;
    background: #b78a17;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
}
footer .btn-fixo a i {
    padding: 0;
    border-radius: 100%;
    margin: 0;
    color: #fff;
    background: #b78a17;
}
a.btn-telephone {
    top: 480px;
    transition: 0.6s all;
}
.btn-fixo i.fas.fa-phone-alt {
    font-size: 30px;
}
a.btn-whatsapp {
    top: 420px;
    transition: 0.6s all;
    font-size: 31px
}
.btn-fixo i.fab.fa-whatsapp {
    font-size: 34px;
}
a.btn-mail {
    top: 535px;
    padding: 11px 12px;
}
.btn-fixo i.fas.fa-envelope-open-text {
    font-size: 25px;
    padding: 3px 0;
}
.btn-fixo a:hover {
    background: #454545;
    transition: 0.6s all;
}
.btn-fixo a:hover i {
    background: #454545;
    transition: 0.6s all;
}
/* Main */
main h2 {
    font-size:22px
}
/* TODAS AS PAGINAS */
.faixa-top {
    width: 100%;
    float: left;
    background: #454545
}
.faixa-top h1 {
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
 }
 #breadcrumb, #breadcrumb a {
    color: #fff;
    margin: 16px 0;
    font-size: 13px;
}
/* FIM TODAS AS PAGINAS */
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
    .topo {
        display: none
    }
    .btn-fixo {
        display: none
    }
    footer {
        text-align: center;
    }
    footer .icons-selos {
        text-align: center;
    }
    footer ul {
        margin: 15px 20px;
    }
    footer .btn-fixo {
        display: none;
    }
    footer .footer-copyright .text-right {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    header .logo {
        margin: 27px 0;
    }
    footer ul {
        margin: 15px 0;
    }
}
@media screen and (max-width: 1024px) {
    header .logo {
        margin: 27px 0;
    }
    footer ul {
        margin: 15px 50px;
    }
}