/* Página de Contato */
body {
    color: #333;
}
main.main-content {
    margin-top: 0;  
}
.conteudo {
    width: 100%;
    float: left;
    padding: 40px 0;
    background: #fff;
}
.conteudo p {
    text-align: center;
    font-size: 14px;
}
.form-contato {
    margin: 0 15%;
    padding: 0 25px;
    border-radius: 3px;
}
.mapa-contato {
    width:100%;
    min-height:400px;
    border:none;
    float:left;
    display:block
}
.formulario-box {
    margin-top: 15px;
    margin-bottom: 20px;
}
.text-right {
    text-align: right;
    width: 30%;
    margin: 0 auto;
}
.contatos-emp {
    width: 66%;
    float: left;
    padding: 20px;
    border-left: 5px solid #ffa500;
    background: #4c4c4c;
    color: #fff;
    position: relative;
    margin: 45px 17%;
}
.contatos-emp:before {
    content: "";
    left: 0;
    top: 7%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    height: 160px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ffa500;
    border-width: 7px;
}
.contatos-emp p {
    margin: 13px 0;
    font-size: 17px;
    font-weight: 300;
    text-shadow: 2px 2px 7px #000;
    color: #fff;
    letter-spacing: 0;
}
.contatos-emp p a {
    color: #fff
}
iframe {
    margin-top: 30px;
    width: 100%;
    height: 400px;
}