main.main-content {
    margin-top: 0;  
}
.faixa-top h1 {
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
 }
 #breadcrumb, #breadcrumb a {
    color: #fff;
    margin: 16px 0;
    font-size: 13px;
}
.conteudo {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #fff
}
.conteudo p {
    text-align: justify;
    font-family: Open Sans;
    font-size: 13px;
}
.conteudo p strong {
    font-weight: 600;
    color: #ffa500;
}
.conteudo h2 {
    font-size: 22px;
    color: #ffa500;
}
.conteudo img {
    width: 35%;
}
.conteudo h4 {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}
.conteudo h4 strong {
    font-weight: 600;
    color: #ffa500;
}
.conteudo .cont-video {
    text-align: center
}
.conteudo .cont-video iframe {
    width: 100%;
    height: 300px;
}

