/* Galeria de Fotos */
main.main-content {
    margin-top: 0;  
}
.conteudo {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #fff
}
.conteudo img {
    border: 4px solid #ffffff;
    box-shadow: 2px 2px 7px #333;
    width: 90%;
}
.lista-galeria-fancy {
    text-align:center;
    margin: 15px 0
}
