main.main-content {
    margin-top: 0;  
    margin-bottom: 30px;
}
.banner-home {
    float: left;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-bottom: 0;
    background: linear-gradient(to right,rgba(0,1,4,0.9) 0%,rgba(0,0,0,0.0) 72%),url(imagens/fachada.jpg) no-repeat center center;
    background-size: cover;
    padding: 217px 0;
    background-position: 100% 51%;
    text-align: center;
}
.banner-home h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 7px #b78a17;
    margin: 0;
    font-weight: 300;
}
.banner-home p {
    color: #fff;
    font-size: 15px;
    text-shadow: 2px 2px 7px #2b2b2b;
    letter-spacing: 1px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-top: 0;
}
.banner-home .btn-banner a {
    border: 1px solid #b78a17;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
}
.banner-home .btn-banner a:hover {
    text-decoration: none;
    background: #b78a17;
    text-shadow: 2px 2px 7px #000;
    transition: 0.4s all;
    color: #fff;
}
/* SOBRE NOS HOME */
.sobre-nos {
    float: left;
    width: 100%;
    background: #fff;
    padding: 60px 0;
}
.sobre-nos h1 {
    text-transform: uppercase;
    font-size: 25px;
    color: #b78a17;
    font-weight: 500;
    border-bottom: 0.5px solid rgb(183 138 23);
    margin-bottom: 20px;
}
.sobre-nos iframe {
    width: 100%;
    height: 317px;
}
.sobre-nos p {
    text-align: justify;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
}
/* SOBRE NOS HOME */

/* SERVIÇOS HOME */
.servicos {
    background: #f1f1f1;
    width: 100%;
    float: left;
    padding: 60px 0;
}
.servicos h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: #b78a17;
    border-bottom: 0.5px solid #cce128;
    margin-bottom: 30px;
}
.servicos h3 {
    margin: 0;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    background: #b78a17;
    color: #fff;
}
.servicos .orcamento {
    margin-top: 30px;
    text-align: center;
}
.servicos .orcamento a {
    border: 0.5px solid #b78a17;
    padding: 10px 15px;
    color: #000;
    font-size: 14px
}
.servicos .orcamento a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 7px #000;
    background: #b78a17;
    transition: 0.4s all;
}
/* FOM SERVIÇOS HOME */

/* FINAL HOME */
.projetos {
    background: #fff;
    width: 100%;
    float: left;
    padding: 60px 0
}
.projetos h3 {
    font-size: 25px;
    color: #b78a17;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgb(183 138 23);
    margin-bottom: 20px;
}
.projetos img {
    box-shadow: 2px 2px 7px #000;
}
.projetos .orcamento {
    margin-top: 30px;
    text-align: center;
}
.projetos .orcamento a {
    border: 0.5px solid #b78a17;
    padding: 10px 15px;
    color: #000;
}
.projetos .orcamento a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 7px #000;
    background: #b78a17;
    transition: 0.4s all;
}


/* MOBILE */
@media screen and (max-width: 40em) {
    .acima-banner {
        bottom: -291px;
    }
    .acima-banner .col-md-2 {
        width: 33.3%;
        margin: 0;
    }
    .decor-paginicial {
        height: 340px;
    }
    .decor-paginicial img {
        height: 140px;
    }
    .decor-paginicial h1 {
        font-size: 14px;
        margin: 12px 0;
    }
    .decor-paginicial a.btn-banner {
        margin: 30px 14px 0;
    }
    .img-1 {
        float: left;
    }

}