body {
    color: #333;
}
main.main-content {
    margin-top: 0;  
    text-align: center
}
.lista-thumbs section {
    text-align:center;
    min-height:200px;
    margin-bottom:10px;
    box-shadow:2px 2px 5px #888888
}
.lista-thumbs img {
    display: inline-block;
    border: 3px solid #b78a17;
}
.conteudo {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #fff
}
.conteudo p {
    text-align: justify;
    font-family: Open Sans;
    font-size: 15px;
}
.lista-thumbs h2 {
    font-size:12px;
    margin:5px 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.lista-thumbs h2 a {
    text-decoration:none;
    color:#666
}
.lista-thumbs h2 a:hover {
    text-decoration:underline
}
@media screen and (max-width:40em) {
    main.main-content {
        margin-top: 60px;
    }
    .lista-thumbs section {
        min-height:104px
    }
}
@media screen and (max-width:768px) {
    .menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
        display: inline-block;
        padding: 10px 6px;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 12px;
    }
}
@media screen and (max-width:1024px) {
    .menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
        display: inline-block;
        padding: 10px 17px;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 12px;
    }
    .lista-thumbs section {
        min-height:155px
    }
}
