main.main-content {
    margin-top: 170px;  
}
.serv-pags h1 {
	text-align: center;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.serv-pags h4 {
	font-weight: 100;
	text-align: center
}
.serv-pags h2 {
	margin: 38px 0 0 0
}
.serv-pags hr {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #212679;
}