.style23 { font-size:23px }
.style22 { font-size:22px }
.style21 { font-size:21px }
.style20 { font-size:20px }
.style19 { font-size:19px }
.style18 { font-size:18px }
.style17 { font-size:17px }
.style16 { font-size:16px }
.style14 { font-size:14px }
.style13 { font-size:13px }
.style12 { font-size:12px }
.style11 { font-size:11px }

.negrito { font-weight:bold }
.justificado { text-align:justify }
.arial { font-family:arial }

.titulocomentario { color:#576a64 }
.corvermelha { color:red }
.corlaranja { color:#aa592a }
.corverde { color:green }
.corpreta { color:#000000 }
.corbranca { color:#ffffff }
.corcinza { color:#5B594C }
.corazul { color:#1059a5 }
.trebuchet { font-family:"trebuchet ms" }
.century { font-family:"century gothic" }
.corazul2 { color:#5da3af }
.corcinza2 { color:#907d7d }
.lucidagrande { font-family:Lucida Grande }
.lucidasans { font-family:"Lucida Sans unicode" }

.fonte { font-size:14px }
.branco { color:#ffffff }

a.azul:link,a.azul:visited,a.azul:active { color:#336699;text-decoration:none }
a.azul:hover { color:#336699;text-decoration:underline }

a.preto:link,a.preto:visited,a.preto:active { color:#000000;text-decoration:none }
a.preto:hover { color:#000000;text-decoration:underline }

a.laranja:link,a.laranja:visited,a.laranja:active { color:orange;text-decoration:none }
a.laranja:hover { color:orange;text-decoration:underline }

a.vermelho:link,a.vermelho:visited,a.vermelho:active { color:#BF3A16;text-decoration:none }
a.vermelho:hover { color:#BF3A16;text-decoration:underline }

a.branco:link,a.branco:visited,a.branco:active {color:#ffffff;text-decoration:none}
a.branco:hover {color:#ffffff;text-decoration:underline }

a.rosa:link,a.rosa:visited,a.rosa:active { color:#e471aa;text-decoration:none }
a.rosa:hover { color:#e471aa;text-decoration:underline }

a.cinza:link,a.cinza:visited,a.cinza:active { color:#88797a;text-decoration:none }
a.cinza:hover { color:#88797a;text-decoration:underline }

.form { background-color: #FFFFFF;border-bottom: #000000 1px solid;border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;color: #000000;font-family: Arial, Verdana;font-size: 12px }
.form_maior { background-color:#FFFFFF;border-bottom:#336699 1px solid;border-left:#336699 1px solid;border-right:#336699 1px solid;border-top:#336699 1px solid;color: #000000;font-family:Arial,Verdana;font-size: 16px }

.botao { font-family:Arial,verdana;font-size:9pt;color:#ffffff; font-weight:bold;border:1px outset #FFFFFF; background-color:#990000;cursor:pointer }
.btnAzul { font-family:Arial,Verdana;font-size:9pt;color:#ffffff;font-weight:bold;border:0px;background-color:#336699;cursor:pointer }
.btnVerde { font-family:Arial,Verdana;font-size:9pt;color:#ffffff;font-weight:bold;border:0px;background-color:#669933;cursor:pointer }
.botaorodape { font-family:Arial,Verdana;font-size: 14px;font-style: normal;font-variant: normal;background-color: #990000;color: #FFFFFF;font-weight: bold;border: 1px solid #FFFFFF }
.botaorodape2 { font-family:Arial,verdana; font-size:9pt;color:#ffffff;font-weight:bold;border:1px outset #FFFFFF;background-color:#00AEB8;cursor:pointer }

/* PAGINATOR */
.Pages { text-align: center; margin-bottom: 20px; margin-top: 20px }
.Paginator { font-size: 11px; padding-top: 10px; margin-left: auto; margin-right: auto }
.Paginator a, .pageList .this-page { padding: 2px 6px; border: solid 1px #ddd; background: #fff; text-decoration:none }
.Paginator a:visited { padding: 2px 6px; border: solid 1px #ddd; background: #fff; text-decoration:none }
.Paginator .AtStart { margin-right: 20px; padding: 2px 6px; /* border: solid 1px #ddd; */ background: #fff; color: #aaa }
.Paginator .Prev { margin-right: 20px; padding: 2px 6px; border: solid 2px #ddd; background:#fff }
.Paginator .break { padding: 2px 6px; border: none; background: #fff; text-decoration: none }
.Paginator .Next { margin-left: 20px; padding: 2px 6px; border: solid 2px #ddd; background:#fff }
.Paginator .AtEnd { margin-left: 20px; padding: 2px 6px; /* border: solid 1px #ddd; */ background: #fff; color: #aaa }
.Paginator .this-page {padding: 2px 6px; border-color: #999; font-weight: bold; font-size: 13px; vertical-align: top; background: #fff; color: #FF0084 }
.Paginator a:hover {color: #fff; background: #0063DC; border-color: #036; text-decoration: none }
.Pages div.Results { text-align: center; font: 11px/15px Arial, Helvetica; color: #aaa; margin-top: 8px }